name: CI

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v[0-9]+.[0-9]+.*'
  pull_request:
    branches:
      - 'main'
    types: [opened, synchronize, reopened]

jobs:
  # Run unit tests on main (for coverage reports), and all PRs
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
          run_install: true
      -
        name: Run unit tests
        run: pnpm test:unit
