name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "0/15 * * * *"
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@ea850436a5fe75c0925d583c7a02c60a5865461d # v43.0.20
        with:
          configurationFile: renovate.json
          token: ${{ secrets.GIT_PAT_RENOVATE }}
